.contact {
	font-size: 1rem;
	span {
	display: block;
	}
}

.contact__name {
	font-weight: 700;
}

.contact__position {
    font-size: 0.9em;
    font-style: italic;
}

.contact__email {
    margin-top: 0.5em;
}