header {
    border-bottom: 1px solid;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 4.5rem;

    @media screen and (min-width: 60em) {
        margin: 4.5rem calc(50% - 400px);
    }

    @media screen and (min-width: 90.625em) {
        margin: 4.5rem calc(50% - 20em);
    }
}

.site-branding {
    
	a {
		//max-width: 100%;
	    //width: 24.5rem;
	    //height: 100%;
	    display: inline-block;
	}
}

.icon-logo {
	max-width: 100%;
	width: 17.5rem;;
    height: 3rem;
    padding-right: 2em;
}

.nav__wrapper {
	> ul {
	    list-style-type: none;
	    font-family: "Montserrat", Helvetica, Arial, sans-serif;
	    padding-left: 0;

	    > li {
	    	text-align: center;

	    	> a {
	    		font-size: 0.7rem;
	    		padding: 0.5rem 0.7rem;
	    		text-decoration: none;

	    	}
	    }
	}
}