header {
	padding-left: 1em;
    padding-right: 1em;
    @media screen and (min-width: 60em) {
        padding:0 calc(50% - 400px);
    }
    @media screen and (min-width: 90.625em) {
        padding:0 calc(50% - 20em);
    }
}

.site-branding {
    border-bottom: 1px solid;
	a {
		max-width: 100%;
	    width: 24.5rem;
	    height: 100%;
	    display: inline-block;
	    margin-top: 3em;
	}
}

.icon-logo {
	max-width: 100%;
	width: 17.5rem;;
    height: 3rem;
}