.team__wrapper {
    display: flex;
    flex-flow: row wrap;
    padding-left: 0;

    li + li {
    	margin-top: 0;
    }
}

.team__member {
    flex: 0 0 50%;
    padding: 0.5rem 0.3rem;
    list-style-type: none;


    @media screen and (min-width:768px) {
    	flex: 0 0 33.33%;
    }

    h4 {
    	font-size: 0.8rem;

    	a {
    		text-decoration: none;
    	}
    }

    .subtitle {
		font-size: 0.7rem;
	    text-transform: uppercase;
	    font-family: "Montserrat", Helvetica, Arial, sans-serif;
	    padding-bottom: 0;
	    margin-top: 0;
	}
}